
body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 60px 50px;
}

a {
  color: #00aaff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
	background-color: lightgray;
	margin: 1em;
	font-style: italic;	
}

h1:before {
	content: url("./pages/story.jpg");
}
h1 {
	border-top-style:solid;
	border-top-width:15px;
 	border-top-color:lightgray;
	content: url("./pages/story.jpg");
	page-break-before:always
}

h1:after {
}
